header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navigation ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;

    a {
        text-decoration: none;
        color: $colorLink;
    }
}

.accueil {
    margin-right: 57px;
}

@media screen and (max-width: 375px) {
    header {
        border: 2px solid red;
        width: 335px;
    }

    .logo {
        width: 145px;
        align-items: center;

        img {
            width: 145px;
        }
    }

    .accueil {
        margin-right: 26px;
    }

    .navigation {
        font-size: 12px;
        text-transform: uppercase;

        ul a {
            width: max-content;
        }
    }
}