#error404,
.errorTitle,
.errorBack {
    display: flex;
    justify-content: center;

    .errorText {
        display: flex;
        justify-content: center;
        font-size: 288px;
        font-family: $primaryFont;
        font-weight: 700;
        color: $colorLink;
        margin: 0px;
        margin-top: 144.36px;
        margin-bottom: 139px;
    }
}

#error404 section {
    height: 100%;
}

.errorBack {
    margin-bottom: 348px;
    color: $colorLink;
    font-family: $primaryFont;
    text-decoration: underline $colorLink;
}

.errorTitle {
    margin-bottom: 139px;
    color: $colorLink;
    font-family: $primaryFont;
    font-size: 36px;
}